<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= @title || '' %>
    </title>
    <link rel="stylesheet" href="styles/application.css">

    <script src='scripts/application.js' defer></script>
</head>

<body>
    <%= _yield_template %>
</body>

</html>