<div class="container">
    <%= render_template :welcome_header %>
    <br/>
    <img src="images/rubee.svg" alt="ruBee">
    <br/>
    <p>rubee homepage: <a href="https://github.com/nucleom42/rubee"><br/>https://github.com/nucleom42/rubee</a></p>
    <br/>
    <p>Version: <%= Rubee::VERSION %></p>
</div>
