img {
  width: 50px;
  height: auto;
  margin-top: 10px;
}

h1 {
  font-size: 1.8rem;
  margin: 10px 0;
}

@media (max-width: 600px) {
  h1 {
      font-size: 1.5rem;
  }

  img {
      width: 60px;
  }
}